/*

@font-face {
    font-family: 'PFBeauSansPro';
    src: local('PFBeauSansPro'),
         url('../fonts/PFBeauSansPro-Bbook.ttf') format('truetype'),
         url('../fonts/PFBeauSansPro-Bbook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFBeauSansPro-Bbook.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFBeauSansPro';
    src: local('PFBeauSansPro'),
         url('../fonts/PFBeauSansPro-Bold.ttf') format('truetype'),
         url('../fonts/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFBeauSansPro-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'PFBeauSansPro';
    src: local('PFBeauSansPro'),
         url('../fonts/PFBeauSansPro-Italic.ttf') format('truetype'),
         url('../fonts/PFBeauSansPro-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFBeauSansPro-Italic.woff') format('woff'); 
    font-weight: normal;
    font-style: italic;
}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aic {
    align-items: center;
}

.tac {
    text-align: center;
}

.section {
    padding: 40px 0;
}

.mb {
    margin-bottom: 20px;
}

.opacity {
    color: rgba(0,0,0,0.5);
}

/* Fon */

.fon {
    background: #FAFAFA;
    padding: 20px 0;
}

/* Admin */

.fon-admin {
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-color: #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-admin {
    width: 200px;
    height: 270px;
    border: 2px #252525 solid;
    border-radius:5px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-admin {
    display: block;
    padding: 4px 10px;
    margin: 10px auto;
}

.btn-list {
    text-align: center;
}

.btn-admin {
    font-family: 'Montserrat', sans-serif;
    padding: 8px 14px;
    background-color: #898a84;
    margin: 10px auto;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: black;
    border: 1px black solid;
    text-decoration: none;
}

/* Admin panel*/

.panel {
    width: 100%;
    padding: 20px 30px 50px;
    padding: 10px 40px;
    background-color: #a5a5a5;
}

.form-padding {
    padding-right: 25px;
}

.input-inline {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.input-inline div {
    padding: 15px;
}

.input-panel {
    display: block;
    padding: 10px;
    border: 2px solid #eee;
    margin: 5px 0;
}

.not-block {
    display: inline;
}

.input-file {
    display: block;
}

.posts li {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
}

/* Examples */

.section-examples {
    background: #FAFAFA;
    padding: 0 0 40px;
}

.section-title {
    padding: 10px 0;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.045em;
}

.items {
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.items-block {
    display: inline-block;
    width: 45%;
    margin: 15px;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo {
    width: 100%;
    padding-bottom: 70%;
    border-radius: 3px 3px 0 0;
}

.examples-item {
    padding: 20px;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.examples-title {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
}

.border {
    margin-top: 8px;
    padding: 5px;
    border-bottom: 1px solid #EBEBEB;
}

.examples-bottom {
    margin-top: 35px;
}

.label {
    font-size: 14px;
    line-height: 1.2;
}

.value {
    font-size: 14px;
}

.examples-price {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    color: #1FA9E5;
}

/* Header */

.site-header {
    background: #fff;
}

.top {
    padding: 10px 0;
    border-bottom: 1px solid #EBEBEB;
}

.menu-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-center a {
    text-decoration: none;
}

.menu-header a {
    font-size: 15px;
    line-height: 18px;
    color: #a5a5a5;
    margin-right: 50px;
    transition: color 0.2s;
}

.menu-header a:hover {
    color: #000;
}

.site-logo {
    max-width: 320px;
}

.phone {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
}

.bottom {
    padding: 15px 0;
}

.styly-btn {
    min-width: 250px;
    margin-left: 15px;
    padding: 13px 30px;
    display: inline-block;
    padding: 18px 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #1A62A4;
    border: 2px solid #1A62A4;
    border-radius: 3px;
    text-decoration: none;
    transition: color, background .3s;
}

.styly-btn:hover {
    color: #fff;
    background: #1A62A4;
}

.first {
    color: #fff;
    background: #1A62A4;
}

.first:hover {
    background: #fff;
    color: #1A62A4;
}

.menu-nav {
    margin-top: 30px;
}

.menu-nav .wrapper a {
    position: relative;
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 1;
    color: #1D1D1D;
    text-decoration: none;
    overflow: hidden;
    transition: all .2s;
}

.menu-nav .wrapper a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: #1FA9E5;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.2s;
}

.menu-nav .wrapper a:hover::before {
    transform: translateX(0);
}

/* Header JS */

.fix-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
    background-color: #fff;
    transform: translateY(-100px);
    transition: transform ease-in-out .3s;
    box-shadow: 5px 5px 25px rgb(0 0 0 / 15%);
}

.fix-header .logo {
    max-height: 40px;
}

.fix-header a {
    text-decoration: none;
}

.visible {
    transform: translateY(0);
}

/* Content */

.content {
    padding: 110px 0;
    background-image: url('../img/fon-index.png');
    background-position: top center;
    background-repeat: no-repeat;
}

.born {
    font-weight: 700;
}

.block-title {
    width: 50%;
    left: 0;
}

.title-index {
    font-size: 50px;
    color: #1FA9E5;
    letter-spacing: -0.045em;
    font-weight: 500;
}

/* Calculate */

.section-calculate {
    background: url('../img/fon-calc.png') right no-repeat;
    background-size: cover;
}

.photo-calc {
    position: absolute;
    z-index: 1;
    width: 25%;
    margin: 55px 10px 15px;
}

.form-calc {
    padding: 100px 35px 50px 480px;
}

.calc-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: -0.025em;
}

.title {
    margin: 0 25px 25px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.025em;
}

.area-count {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-bottom: 35px;
}

.slider {
    -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  border: 5px solid gray;
  border-radius: 8px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 60px;
    cursor: pointer;
    border: 5px solid gray;
    border-radius: 4px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 60px;
    cursor: pointer;
    border: 5px solid gray;
    border-radius: 4px;
}

.list {
    margin: 45px 0;
    display: flex;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.list-type {
    flex: 1;
}

label span {
    display: block;
    width: 100%;
    padding: 19px 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #1A62A4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: 1px solid #1A62A4;
    cursor: pointer;
}

label:first-child span {
    border-radius: 3px 0 0 3px;
}

label:last-child span {
    border-radius: 0 3px 3px 0;
}

.listType:checked+span {
    background: #1A62A4;
    color: #fff;
}

.result {
    margin: 20px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.result-price {
    font-size: 52px;
    line-height: 1;
    font-weight: 500;
}

/* Breadcrambs */

.breadcrumbs {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.iter {
    color: #252525;
    background-color: #fff;
    border-radius: 7px;
    margin: 5px;
    transition: all 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 40px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.36);
}

.iter:hover {
    background-color: #FAFAFA;
    box-shadow: 0 3px 5px rgba(0,0,0,0.36);
}

.iter-title {
    color: #1D1D1D;
    font-size: 12px;
    text-decoration: none;
    transform: skew(21deg);
}

.opacity {
    color: rgba(0,0,0,0.5);
}

/* Icon */

.section-icon {
    width: 100%;
    padding: 75px 0;
}

.iter-icon {
    margin-left: 20px;
}

.icon {
    width: 25%;
}

.title-icon {
    font-size: 25px;
    line-height: 1.2;
    max-width: 210px;
}

/* Section work */

.section-work {
    width: 100%;
}

.steps {
    margin-top: 35px;
    column-count: 2;
    column-gap: 30px;
}

.step {
    margin-bottom: 35px;
    height: 100%;
}

.step .head {
    margin-bottom: 10px;
}

/* Footer */

.block-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.site-footer {
    padding: 40px 0;
}

.contact {
    margin-right: 30px;
}

.block-phone .phone {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.025em;
    text-decoration: none;
    color: #1D1D1D;
}

.block-phone {
    margin-bottom: 16px;
}

.email {
    font-size: 16px;
    line-height: 1.6;
    text-decoration: none;
    color: #1D1D1D;
    cursor: pointer;
}

.callback-link {
    font-size: 16px;
    line-height: 1.6;
    text-decoration: none;
    color: #1D1D1D;
    border-bottom: 1px solid #1D1D1D;
    cursor: pointer;
    transition: border-bottom .2s;
}

.callback-link:hover {
    border-bottom: none;
}

.adress {
    margin: 16px 0;
}

.navigation .links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.menus {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
    padding: 0 15px;
}

.footer-title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 20px;
}

.column ul li {
    margin-bottom: 15px;
    list-style: none;
}

.column ul li a {
    text-decoration: none;
    font-weight: 300;
    color: #1D1D1D;
    transition: all .2s ease-in;
}

.column ul li a:hover {
    text-decoration: underline;
}

/* Modal window */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 0 90px;
    z-index: 1000;
    display: none;
    justify-content: center;
    animation-name: modal;
    animation-duration: .5s;
}

.modal-show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .2;
    padding: 20px 65px;
    z-index: 1;
}

.window {
    position: relative;
    width: 700px;
    min-width: 500px;
    min-height: 550px;
    background: #fff;
    z-index: 2;
    padding: 60px;
    border-radius: 2px;
    box-shadow: 5px 5px 25px rgb(0 0 0 / 35%);
    opacity: 1;
    text-align: center;
}

.btn-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('../img/close-icon.svg') center no-repeat;
    opacity: .2;
}

.modal-title {
    margin-bottom: 24px;
    font-size: 35px;
    line-height: 1.3;
}

.modal-sub-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5;
}

.input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: none;
    background: #F1F6FB;
}

.btn {
    padding: 18px 30px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    background: #1A62A4;
    border: none;
}

@keyframes modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Ceiling */

.content-ceiling {
    background: url('../img/fon-ceiling.png') no-repeat center;
    background-size: cover;
}

.header-ceiling {
    padding: 70px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.left, .rigth {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.title-ceiling {
    margin: 0 0 30px;
    font-size: 55px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.045em;
}

.text-ceiling {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

.price-ceiling {
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
    font-size: 46px;
}

.imortal {
    font-size: 60px;
    margin-left: 30px;
    font-weight: 700;
}

.title-rigth {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
}

.subform-ceiling {
    display: flex;
    flex-wrap: wrap;
}

.form-ceiling {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 4px;
}

.input-ceiling {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.free-ceiling {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1A62A4;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 14px;
}

.free-ceiling>span {
    display: inline-block;
}

.free-ceiling>span::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 35px;
    height: 37px;
    background: url('../img/arrow.svg') no-repeat center;
}

.form-ceiling>.btn {
    font-size: 14px;
    border-radius: 3px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    height: 60px;
}

/* Solution */

/* Tiles */

.tiles {
    padding: 10px 0 40px;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 33%;
    flex: 0 0 auto;
    padding: 10px;
}

.item a {
    display: block;
    background: #CEECF9;
    border-radius: 3px;
    padding: 30px;
    text-decoration: none;
    outline: none;
    text-align: none;
    color: #1D1D1D;
    transition: background .2s, color .2s;
}

.item a:hover {
    color: #fff;
    background: #1A62A4;
}

.item a:hover img {
    opacity: 1;
}

.item a .title {
    margin: 0;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 20px;
    display: block;
} 

.item a .price {
    font-weight: 400;
    font-size: 14px;
    display: block;
} 

.item a img {
    margin-top: 20px;
    opacity: 0;
    transition: opacity .2s;
} 

/* Type ceiling */

.content-ceiling {
    padding-bottom: 20px;
}

.title-page {
    margin: 30px 0;
    font-size: 55px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.045em;
}

.title-type-ceiling {
    margin: 40px 0;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: -0.025em;
    font-weight: 400;
}

.item-type-ceiling {
    flex: 0 0 auto;
    width: 25%;
    padding: 0 15px;
    margin: 15px 0;
}

.item-type-ceiling a {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #1D1D1D;
    text-decoration: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 3.65854px 3.65854px 10.9756px rgb(0 0 0 / 25%);
}

.photo-type-ceiling {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50%;
}

.tc-title {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

.tc-price {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.info-type-ceiling {
    padding: 20px;
    background: #fff;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background .2s, color .2s;
}

.item-type-ceiling:hover .info-type-ceiling {
    background: #1A62A4;
    color: #fff;
}

/* Calculate page type */

.calculate-modul {
    display: flex;
    flex-direction: row;
}

.callback-form {
    width: 100%;
    display: flex;
}

.calculation-page {
    width: 55%;
    padding-top: 24px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price-style {
    width: 400px;
    margin-left: 60px;
}

.cost {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title-page-calc {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-bottom: 27px;
}

.btn-calc {
    width: 100%;
    height: 60px;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    background-color: #1A62A4;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Tehnology */

.items-teh {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #1D1D1D;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 3.65854px 3.65854px 10.9756px rgb(0 0 0 / 25%);
}

.items-teh .info-type-ceiling span {
    margin-bottom: 9px;
}

/* 404 */

.not-found {
    width: 100%;
}

.block-title-not-found {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1A62A4;
}

.title-not-found {
    font-weight: 600;
    font-size: 55px;
}

.text-not-found {
    display: block;
    font-weight: 500;
    font-size: 25px;
}

.block-price-title {
    padding: 30px 0;
    display: flex;
}

.block-half {
    width: 50%;
    position: relative;
}

/* .block-price-title div {
    flex: 0 0 50%;
} */

.price-text {
    width: 50%;
}

.price-text p {
    text-indent: 15px;
    margin: 1em 0;
}

/* Slick */

.slider-block {
    padding: 30px 60px 35px;
    color: #000;
    background: #1FA9E5;
    border-radius: 3px;
    box-shadow: 5px 5px 25px rgb(0 0 0 / 25%);
}

.spacer {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spacer>.slider {
    height: 100%;
    border: none;
}

.slider_item {
    text-align: center;
}

.slider_item>div {
    color: #FAFAFA;
    font-size: 26px;
    font-weight: 600;
}

.slider_item>div>span {
    color: #bce860;
}

.slick-list {
    overflow: hidden;
} 

.slick-track {
    display: flex;
    padding: 25px 0;
}

.slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 0;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #F1F6FB;
    border: #F1F6FB;
    border-radius: 50%;
}

.slick-active button {
    background-color: #1A62A4;
}

.block-price-title .wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 45px;
}

.btn-price-call {
    width: 50%;
}

.spacer .wrapper input {
    padding: 19px 12px;
    border: none;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.spacer .wrapper input:first-child {
    border-radius: 3px 0 0 3px;
    color: #1D1D1D;
    background: #fff;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.spacer .wrapper input:last-child {
    border-radius: 0 3px 3px 0;
    color: #fff;
    background: #1A62A4;
    text-transform: uppercase;
    cursor: pointer;
}

.price-container {
    padding: 0 15px;
}

.price-container p, .price-container li {
    font-size: 18px;
    margin: 1em;
}

/* Custom select */

.list-custom-select {
    margin: 30px 0;
    display: flex;
    justify-content: start;
}

.item-custom-select {
    position: relative;
    width: 33%;
    margin-left: 10px;
}

.label-custom-select {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-bottom: 10px;
}

.input-custom-select, .input-custom-select-teh {
    position: relative;
}

.input-custom-select:after, .input-custom-select-teh:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 18px;
    width: 16px;
    height: 9px;
    background-image: url('../img/selectArrow-grey.svg');
}

.selected, .selected-teh {
    padding: 20px 56px 20px 20px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.selected span, .selected-teh span {
    display: block;
    max-width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #696970;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown, .dropdown-teh {
    position: absolute;
    list-style: none;
    padding: 9px 15px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 7%);
    width: 100%;
    transition: all .3s;
    opacity: 0;
    z-index: 100;
}

li.option span {
    transition: color .2s;
}

li.option:hover span {
    color: #1FA9E5;
}

.opened {
    transform: translateY(6px);
    opacity: 1;
}

.dropdown .option, .dropdown-teh .option {
    margin-bottom: 15px;
}

.dropdown .option span, .dropdown-teh .option span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #696970;
    cursor: pointer;
}

.examples-item>.wrapper>.label {
    font-size: 18px;
}

/* Lamp */

.list-lamp, .list-promo {
    width: 100%;
}

.item-lamp, .item-promo {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item-lamp>div {
    width: 50%;
    max-width: 600px;
}

.block-info-lamp {
    padding: 30px 50px;
}

.item-lamp>.photo-lamp {
    max-width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.info-lamp {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    margin-bottom: 15px;
    color: #1D1D1D;
}

.info-lamp-page {
    margin-top: 50px;
}

.info-lamp-page p, .info-lamp-page h2 {
    margin: 1em;
}

.info-lamp-page li {
    margin: .2em 3em;
}

/* Promo */

.info-promo {
    padding:35px 15px;
    font-size: 16px;
}

.info-promo>a {
    margin-top: 30px;
}

.info-promo>div {
    margin: 1em;
}

.title-promo {
    font-size: 22px;
    font-weight: 600;
} 

.item-promo>div {
    width: 50%;
}

.item-promo>.photo-promo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* about */

.content-about {
    background: url('../img/fon-about.jpg') no-repeat center;
    background-size: cover;
}

.block-about {
    width: 60%;
    padding-bottom: 30px;
}

.block-about>p {
    text-indent: 15px;
    margin: 1em 0;
}

.content-about-block {
    margin: 30px 0;
    width: 100%;
    display: flex;
}

.subtitle-about {
    display: flex;
    align-items: center;
}

.content-about-block>div {
    padding: 10px;
    flex: 0 0 50%;
}

.icons-about {
    display: flex;
    flex-wrap: wrap;
}

.advantage-about {
    flex: 0 0 50%;
    padding: 10px;
}

.icon-about {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.title-icon-about {
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}