{% extends 'base.html' %}

{% block content %}

<div class="content-about">
    <div class="container">
        <div class="breadcrumbs">
            <div class="iter">
                <a href="/potolok" class="iter-title opacity">Главная</a>
            </div>
            <div class="iter">
                <a href="#" class="iter-title">{{ title }}</a>
            </div>
        </div>

        <div class="title-page">{{ title }}</div>
        <div class="block-about">
            <p>Компания <b>"Потолок - и точка."</b> это:</p>
            <p>Команда мастеров с огромным опытом, которая постоянно повышает свою квалификацию и следит за всеми новинками на рынке.</p>
            <p>Мы имеем опыт работы более 8-ми лет, что позволяет нам справляться с монтажом натяжных потолков любой сложности.</p>
            <p>Используем только сертифицированные и экологичные материалы. Качество — наш ведущий принцип в работе.</p>
        </div>
    </div>    <!-- container -->
</div>    <!-- content about -->

<div class="fon">
    <div class="container">
        <div class="content-about-block">
            <div class="subtitle-about">
                <h3 class="section-title">Добросовестная команда по установке натяжных потолков в Тюмени</h3>
            </div>
            <div class="icons-about">
                <div class="advantage-about">
                    <img src="img/icons/9497778.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Гарантия на полотно 10 лет</div>
                </div>
                <div class="advantage-about">
                    <img src="img/icons/5737036.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Бесплатная консультация</div>
                </div>
                <div class="advantage-about">
                    <img src="img/icons/8665134.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Чистота после себя</div>
                </div>
                <div class="advantage-about">
                    <img src="img/icons/3994342.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Монтаж в кратчайшее время</div>
                </div>
            </div>
        </div>
    </div>  <!-- container -->
</div>  <!-- fon  -->

{% endblock content %}