{% extends 'base.html' %}

{% block content %}

<div class="content-about">
    <div class="container">
        <div class="breadcrumbs">
            <div class="iter">
                <a href="/potolok" class="iter-title opacity">Главная</a>
            </div>
            <div class="iter">
                <a href="#" class="iter-title">{{ title }}</a>
            </div>
        </div>

        <div class="title-page">{{ title }}</div>
        <div class="block-about">
            <p>Компания <b>"Потолок - и точка."</b> это:</p>
            <p>Команда мастеров с огромным опытом, которая постоянно повышает свою квалификацию и следит за всеми новинками на рынке.</p>
            <p>Мы имеем опыт работы более 8-ми лет, что позволяет нам справляться с монтажом натяжных потолков любой сложности.</p>
            <p>Используем только сертифицированные и экологичные материалы. Качество — наш ведущий принцип в работе.</p>
        </div>
    </div>    <!-- container -->
</div>    <!-- content about -->

{% include 'aggregate.html' %}

<div class="container">
    {% include 'calc-page.html' %}
</div>


{% endblock content %}