<div class="fon">
    <div class="container">
        <div class="content-about-block">
            <div class="subtitle-about">
                <h3 class="section-title">Добросовестная команда по установке натяжных потолков в Тюмени</h3>
            </div>
            <div class="icons-about">
                <div class="advantage-about">
                    <img src="img/icons/9497778.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Гарантия на полотно 10 лет</div>
                </div>
                <div class="advantage-about">
                    <img src="img/icons/5737036.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Бесплатная консультация</div>
                </div>
                <div class="advantage-about">
                    <img src="img/icons/8665134.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Чистота после себя</div>
                </div>
                <div class="advantage-about">
                    <img src="img/icons/3994342.png" class="icon-about" alt="icon time">
                    <div class="title-icon-about">Монтаж в кратчайшее время</div>
                </div>
            </div>
        </div>
    </div>  <!-- container -->
</div>  <!-- fon  -->