<footer class="site-footer">

    <div class="container">
        <div class="block-footer">
            <div class="contact">
                <div class="block-phone">
                    <a class="phone" href="tel:+79220047288">+7 (922) 004 7288</a>
                </div>
                <a href="#" class="callback-link">Перезвоните мне</a>
                <div class="adress">г. Тюмень</div>
                <a href="mailto:V-A.P-V@yandex.ru" class="email">V-A.P-V@yandex.ru</a>
            </div>
            <div class="navigation">
                <div class="links">
                    <a href="#" class="styly-btn first">Калькулятор стоимости</a>
                    <a href="#" class="styly-btn modal-call">Вызвать замерщика</a>
                </div>
                <div class="menus">
                    <div class="column">
                        <div class="footer-title">Акции</div>
                    </div>
                    <div class="column">
                        <div class="footer-title">Технологии</div>
                        <ul>
                            <li><a href="/potolok/tehnology-1">Ниша под карниз</a></li>
                            <li><a href="/potolok/tehnology-2">Бесшовные</a></li>
                            <li><a href="/potolok/tehnology-3">Криволинейные</a></li>
                            <li><a href="/potolok/tehnology-4">Двухуровневые</a></li>
                            <li><a href="/potolok/tehnology-5">Комбинированные</a></li>
                            <li><a href="/potolok/tehnology-6">Парящие</a></li>
                            <li><a href="/potolok/tehnology-7">С подсветкой</a></li>
                            <li><a href="/potolok/tehnology-8">Фотопечать</a></li>
                            <li><a href="/potolok/tehnology-9">Световые линии</a></li>
                            <li><a href="/potolok/tehnology-10">KRAAB 3.0</a></li>
                            <li><a href="/potolok/tehnology-11">Резные потолки Apply</a></li>
                            <li><a href="/potolok/tehnology-12">Звёздное небо</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <div class="footer-title">Помещения</div>
                        <ul>
                            <li><a href="/potolok/ceiling-1">Гостинная</a></li>
                            <li><a href="/potolok/ceiling-2">Спальня</a></li>
                            <li><a href="/potolok/ceiling-3">Кухня</a></li>
                            <li><a href="/potolok/ceiling-4">Детская</a></li>
                            <li><a href="/potolok/ceiling-5">Ванная</a></li>
                            <li><a href="/potolok/ceiling-6">Прихожия</a></li>
                            <li><a href="/potolok/ceiling-7">Лоджия</a></li>
                            <li><a href="/potolok/ceiling-8">Офис</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <div class="footer-title">Фактура</div>
                        <ul>
                            <li><a href="/potolok/type-1">Матовые</a></li>
                            <li><a href="/potolok/type-2">Глянцевые</a></li>
                            <li><a href="/potolok/type-3">Сатиновые</a></li>
                            <li><a href="/potolok/type-4">Тканевые</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>