{% extends 'base.html' %}

{% block content %}

<div class="fon">
    <div class="container">
        <div class="breadcrumbs">
            <div class="iter">
                <a href="/potolok" class="iter-title opacity">Главная</a>
            </div>
            <div class="iter">
                <a href="#" class="iter-title">{{ title }}</a>
            </div>
        </div> <!-- breadcrumbs -->

        <div class="title-page">{{ title }}</div>
        <section class="lamp">
            <div class="list-lamp">
                {% for i in lamps %}
                <div class="item-lamp aos-item aos-init aos-animate" data-aos="fade-up">
                    <div class="photo-lamp" style="background-image: url('img/lamps/{{ i[1]}}');"></div>
                    <div class="block-info-lamp">
                        <div class="info-lamp">{{ i[0] }}</div>
                        <div class="examples-price">{{ i[2] }} ₽</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="info-lamp-page">
            <p>Многие клиенты при выборе светильников, в первую очередь, обращают внимание на дизайн, характеристику, но не учитывают местоположение их установки. Не все знают, что необходимы специальные потолочные светильники для натяжных потолков, соответствующие требованиям пожарной и электрической безопасности.</p>
            <p>Не рекомендуется использовать для натяжных потолков светильники открытого типа с исходящими лучами во все стороны. Они проникают через полотно и просвечивают проложенные коммуникации.</p>
            <p>Важно обращать внимание на мощность ламп. Нельзя допускать их перегрева. Существует риск деформации материала.</p>
            <p>Изменится его оттенок. Оптимальный вариант – отдать предпочтение светодиодным светильникам для натяжных потолков.</p>
            <h2 class="section-title">Точечные светильники для натяжных потолков</h2>
            <p><b>Наиболее востребованный вид среди светильников для натяжных потолков – точечные. Их преимущества:</b></p>
            <ul>
                <li>доступная цена;</li>
                <li>их легко монтировать;</li>
                <li>сочетаются с другими источниками света;</li>
                <li>можно регулировать направление светопотока;</li>
                <li>экономное потребление электроэнергии;</li>
                <li>подходят для установки в любом помещении и разной высоты;</li>
                <li>возможность разнообразного дизайнерского оформления.</li>
            </ul>
            <p><b>Классифицируют светильники по нескольким критериям:</b></p>
            <ul>
                <li>Типу крепления: накладные, встраиваемые, подвесные.</li>
                <li>По типу ламп: галогенные, люминесцентные, светодиодные, с лампами накаливания. Для натяжных потолков лучший вариант – потолочные светодиодные светильники, люминесцентные. Они не нагреваются, мало потребляют энергии, дольше служат. Мощность ламп накаливания и галогенных не должна превышать 40-60 ватт.</li>
                <li>Типу цоколя: Е27, Е14, GX53, GX70, GU10, G5,3, G4, G9.</li>
                <li>Поворотные, не поворотные.</li>
                <li>Открытые и закрытые. Последние защищены от влаги. Для ванной комнаты, сауны необходимы влагозащищенные устройства с показателем не ниже IP44.</li>
            </ul>
        </section>
    </div>    <!-- container -->
</div>    <!-- fon -->

<div class="container">
    {% include 'calc-page.html' %}
</div>

{% include 'aggregate.html' %}

{% endblock content %}