{% extends 'base.html' %}


{% block content %}

<div class="content-ceiling">
    <div class="container">
        <div class="breadcrumbs">
            <div class="iter">
                <a href="/potolok" class="iter-title opacity">Главная</a>
            </div>
            <div class="iter">
                <a href="#" class="iter-title">{{ title }}</a>
            </div>
        </div> <!-- breadcrumbs -->

        <form action="" method="post">
            <div class="block-price-title">
                <div class="price-text block-half">
                    <!-- <h1 class="title-index">Цены</h1> -->
                    <h1 class="section-title">Цены на натяжные потолки</h1>
                    <p>Популярность натяжных потолков обусловлена приемлемой стоимостью, простотой монтажа, удобством в эксплуатации, возможностью использования с разными стилями дизайна.</p>
                    <p>Один из самых первых вопросов клиентов – о цене натяжных потолков. Поэтому, рассмотрим основные его моменты.</p>
                </div>
                <div class="slider-block block-half">
                    <div class="spacer">
                        <div class="slider">
                            <div class="slider_item">
                                <div><span>Скидка 10%</span> на повторный заказ у нас</div>
                            </div>
                            <div class="slider_item">
                                <div>Именинникам и пенсионерам <span>скидка 10%</span></div>
                            </div>
                            <div class="slider_item">
                                <div><span>Бесплатный</span> слив воды и просушка в случае потопа</div>
                            </div>
                        </div>
                        <div class="wrapper">
                                <input type="text" class="btn-price-call" name="phone" placeholder="Ваш телефон*">
                                <input type="submit" class="btn-calc-page btn-price-call" value="Заказать по акции">
                        </div>
                        <input type="hidden" name="name" value="promo">
                    </div>
                </div>
            </div>
        </form>

        


    </div>    <!-- container -->
</div>        <!-- content-ceiling -->

<div class="fon">
    <div class="container">
        <div class="price-container">
            <h3 class="section-title">Цена на установку натяжных потолков</h3>
            <p>Особенность ценообразования установки натяжных потолков – в каждом конкретном случае цена на монтаж устанавливается в индивидуальном порядке. На ее величину влияет ряд факторов:</p>
            <ul>
                <li>размер необходимого полотна;</li>
                <li>страна производитель;</li>
                <li>вид конструкции;</li>
                <li>стоимость крепежных материалов;</li>
                <li>сложность и затраты на изготовление, установку.</li>
            </ul>
            <p>Обычно цену установки рассчитывают на 1 метр квадратный.</p>
            <p>При обосновании стоимости натяжного потолка учитываются моменты, которые могут показаться мелочью:</p>
            <ul>
                <li>количество углов в комнате;</li>
                <li>форма потолка;</li>
                <li>число, виды светильников;</li>
                <li>вид окантовки и другое.</li>
            </ul>
            <p>Доступно воспользоваться калькулятором на сайте, узнать цену натяжных потолков желаемого варианта. Пользоваться ним довольно просто. Достаточно установить бегунки на показатели: площадь, количество светильников, указать фактуру.</p>
            <p>Кроме того, можно подобрать недорогие варианты цены натяжных потолков с установкой или выбрать готовые решения.</p>
            <p>Например, нужен потолок с подсветкой для кухни. Выставляете показатели, вам предлагают готовое решение с расчетом цены для кухни площадью 15 м2, с установкой 5 светильников, 1 люстры, 3,1 погонных метров светодиодной ленты. Вам понравился такая идея. Все, не нужно ничего придумывать. Остается просто оставить заказ на сайте.</p>
            <h3 class="section-title">Цена на полотно натяжных потолков</h3>
            <p>Стандартная формула цены полотна натяжного потолка – за 1 м2.</p>
            <p>Частая ошибка многих клиентов думать, что она включает стоимость всех работ. На самом деле сверх того следует оплачивать работу мастеров.</p>
            <p>Обращайте внимание на формулировку.</p>
            <p>Наша компания выполняет работы в разных вариантах. Вы можете по телефону заказать установку натяжных потолков под ключ, ознакомиться со стоимостью работ или ценой на полотно. Менеджеры проконсультируют по любому вопросу, подскажут, какой лучше купить натяжной потолок в конкретной ситуации и его цену. После бесплатного выезда замерщика на дом, результат расчета может измениться из-за неучтенных дополнительных работ в данном случае.</p>
        </div> <!-- price-container -->
    </div> <!-- container -->
</div>

<div class="container">
    {% include 'calc-page.html' %}
</div>

{% include 'aggregate.html' %}

<!-- SLICK SLIDER -->
<script src="js/slick.min.js"></script>

<!-- JS -->
<script>

$(document).ready(function(){
    $('.slider').slick({
        dots:true,
        arrows:false,
        autoplay:true,
        autoplaySpeed:6000
    });
});

</script>

{% endblock content %}