{% extends 'base.html' %}

{% block content %}

<div class="content-ceiling">
    <div class="container">
        <div class="breadcrumbs">
            <div class="iter">
                <a href="/potolok" class="iter-title opacity">Главная</a>
            </div>
            <div class="iter">
                <a href="#" class="iter-title">Виды потолков</a>
            </div>
        </div>

        <h1 class="title-page">Виды потолков</h1>
        <section class="type-ceiling">
            <h3 class="title-type-ceiling">Фактуры</h3>
            <div class="list" data-aos="fade-up">
                <div class="item-type-ceiling">
                    <a href="/potolok/type-1">
                        <span class="photo-type-ceiling" style="background-image: url('img/type-ceiling-mat.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Матовые</span>
                            <span class="tc-price">от 249 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/type-2">
                        <span class="photo-type-ceiling" style="background-image: url('img/type-ceiling-gl.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Глянцевые</span>
                            <span class="tc-price">от 270 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/type-3">
                        <span class="photo-type-ceiling" style="background-image: url('img/type-ceiling-sat.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Сатиновые</span>
                            <span class="tc-price">от 290 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/type-4">
                        <span class="photo-type-ceiling" style="background-image: url('img/type-ceiling-tk.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Тканевые</span>
                            <span class="tc-price">от 800 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
            </div>
        </section>

    </div>

</div>

<section>
    <div class="fon">
        <div class="container">
            <h3 class="title-type-ceiling">Помещения</h3>

            <div class="list" data-aos="fade-up">
                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-1">
                        <span class="photo-type-ceiling" style="background-image: url('img/living-room.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Гостиная</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-2">
                        <span class="photo-type-ceiling" style="background-image: url('img/bedroom.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Спальня</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-3">
                        <span class="photo-type-ceiling" style="background-image: url('img/kitchen.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Кухня</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-4">
                        <span class="photo-type-ceiling" style="background-image: url('img/children.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Детская</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>

                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-5">
                        <span class="photo-type-ceiling" style="background-image: url('img/bath.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Ванна</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-6">
                        <span class="photo-type-ceiling" style="background-image: url('img/hallway.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Прихожая</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-7">
                        <span class="photo-type-ceiling" style="background-image: url('img/office.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Оффис</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                <div class="item-type-ceiling">
                    <a href="/potolok/ceiling-8">
                        <span class="photo-type-ceiling" style="background-image: url('img/loggia.jpg');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">Лоджия</span>
                            <span class="tc-price">от 300 руб/кв.м.</span>
                        </span>
                    </a>
                </div>
            </div>

            <h3 class="title-type-ceiling">Технологии</h3>
            <div class="list" data-aos="fade-up">
                {% for i in arrayTehnology %}
                <div class="item-type-ceiling">
                    <a href="/potolok/tehnology-{{ i[0] }}">
                        <span class="photo-type-ceiling" style="background-image: url('img/{{ i[1] }}');"></span>
                        <span class="info-type-ceiling">
                            <span class="tc-title">{{ i[2] }}</span>
                            <span class="tc-price">от {{ i[3] }} руб/кв.м.</span>
                        </span>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div> <!-- fon  -->
    </div> <!-- container -->
</section>

<div class="container">
    {% include 'calc-page.html' %}
</div>    

{% include 'aggregate.html' %}

{% endblock content %}